---
const { url } = Astro.props
---

<div class="btn">
  <a href={url}>Suscribete -&gt;</a>
</div>

<style>
  .btn {
    background-color: rgb(13, 105, 105);
    height: 3rem;
    width: 10em;
    margin: auto;
  }

  .btn a {
    display: block;
    height: inherit;
    box-sizing: border-box;
    background-color: aquamarine;
    color: black;
    text-decoration: none;
    transform: translate(-8px, -8px);
    transition: .25s ease;
    padding: 10px;
    font-weight: 800;
  }

  .btn a:hover {
    color: blue;
    transform: translate(0, 0);
  }
</style>