<header>
  <h1>SJ Discover</h1>
  <img src="img/logo.jpg" alt="logo">
</header>

<style>
  header {
    height: 4rem;
    padding: 5px 10px;
    position: fixed;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: var(--primary-color)
  }

  img {
    width: auto;
    height: 100%;
    border-radius: 50%;
  }
</style>